# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.iml
*.ipr
*.iws

# IntelliJ
.idea/
out/
gen/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Serverpod
clinical_curator_server/config/passwords.yaml
clinical_curator_server/web/app/
clinical_curator_server/.dart_tool/
clinical_curator_client/.dart_tool/

# Docker
docker-compose.override.yaml

# Environment secrets
.env
.env.*
!.env.example

# OS
Thumbs.db
